/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

body {
  font-family: "Roboto Slab", serif;
}

.click {
  color: #921e0f;
}
.package-style {
  border: solid 1px black;
  padding: 10px;
}
.wedding-plus {
  height: 480px;
  border-radius: 30px;
  background-color: #3f87f5;
}
