/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

body {
  font-family: "Roboto Slab", serif;
}

.button-style {
  background-color: #f496d1;
  color: white;
}
.button-style-special {
  background-color: white;
  color: #3f87f5;
}
.click {
  color: #921e0f;
}
.click-special {
  color: white;
}
.font-small {
  font-size: 15px;
}
.wedding-plus {
  height: 480px;
  border-radius: 30px;
  background-color: #3f87f5;
}
.extra-bg-info {
  background-color: #7f9ecc75;
}
.extra-btn-submit {
  background-image: linear-gradient(to bottom, #ff589b 0%, #d65b8a 100%);
  color: white;
  border-radius: 8px;
  padding: 9px 25px;
  border: none;
}

/* Media Queries */
@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
  .package-small {
    flex-direction: column;
  }
}
