/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

body {
  font-family: "Roboto Slab", serif;
}

.button-style {
  background-color: #f496d1;
  color: white;
}
.button-style-special {
  background-color: white;
  color: #3f87f5;
}
.click {
  color: #921e0f;
}
.click-special {
  color: white;
}
.font-small {
  font-size: 15px;
}

.wedding-plus {
  height: 480px;
  border-radius: 30px;
  background-color: #3f87f5;
}
